html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb{
    margin-bottom: 15px;
}

.el-card{
  box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table{
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-text-heimu {
  background-color: #252525;
  color: #252525;
  text-shadow: none;
  transition: color 0.3s;
}

.m-text-heimu:active, .m-text-heimu:hover {
  color: #fff
}