@charset "utf-8";

.typo {
    color: #24292F;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
}

.typo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.typo p {
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
}

.typo .aplayer .aplayer-lrc p {
    text-align: unset;
}

.typo article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

.typo audio, canvas, video {
    display: block;
}

.typo button, input, select, textarea {
    font: 300 1em/1.8 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'SF Pro Text', 'Roboto', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.typo button::-moz-focus-inner,
.typo input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.typo table {
    border-collapse: collapse;
    border-spacing: 0;
}

.typo fieldset, img {
    border: 0;
}

.typo blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #42b983;
    color: #aaa;
}

@media only screen and ( max-width: 640px ) {
    .typo blockquote {
        margin: 1em 0;
    }
}

.typo acronym, abbr {
    border-bottom: 1px dotted;
    font-variant: normal;
}

.typo abbr {
    cursor: help;
}

.typo del {
    text-decoration: line-through;
}

.typo address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
}

.typo ul, ol {
    list-style: none;
}

.typo caption, th {
    text-align: left;
}

.typo q:before, .typo q:after {
    content: '';
}

.typo sub, .typo sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

.typo :root sub, .typo :root sup {
    vertical-align: baseline;
}

.typo sup {
    top: -0.5em;
}

.typo sub {
    bottom: -0.25em;
}

.typo a {
    color: #16a085;
    position: relative;
}

.typo a:hover {
    color: #1abc9c;
}

.typo a[target="_blank"]::after {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNjM5OTgyNzA4MTg3IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjE0ODE5IiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwvc3R5bGU+PC9kZWZzPjxwYXRoIGQ9Ik04MTkuMiA4ODcuNDY2NjY3SDEzNi41MzMzMzNWMjA0LjhoMzQxLjMzMzMzNFY2OC4yNjY2NjdIMTM2LjUzMzMzM2ExMzYuNTMzMzMzIDEzNi41MzMzMzMgMCAwIDAtMTM2LjUzMzMzMyAxMzYuNTMzMzMzdjY4Mi42NjY2NjdhMTM2LjUzMzMzMyAxMzYuNTMzMzMzIDAgMCAwIDEzNi41MzMzMzMgMTM2LjUzMzMzM2g2ODIuNjY2NjY3YTEzNi41MzMzMzMgMTM2LjUzMzMzMyAwIDAgMCAxMzYuNTMzMzMzLTEzNi41MzMzMzNWNTQ2LjEzMzMzM2gtMTM2LjUzMzMzM3YzNDEuMzMzMzM0eiIgZmlsbD0iIzFhYmM5YyIgcC1pZD0iMTQ4MjAiPjwvcGF0aD48cGF0aCBkPSJNOTU1LjczMzMzMyAwaC0yNzMuMDY2NjY2YTY4LjI2NjY2NyA2OC4yNjY2NjcgMCAwIDAgMCAxMzYuNTMzMzMzaDEwOC4yMDI2NjNMNDIxLjI3MzYgNTA2LjEyOTA2N2E2OC4yNjY2NjcgNjguMjY2NjY3IDAgMSAwIDk2LjU5NzMzMyA5Ni41OTczMzNMODg3LjQ2NjY2NyAyMzMuMTMwNjY3VjM0MS4zMzMzMzNhNjguMjY2NjY3IDY4LjI2NjY2NyAwIDAgMCAxMzYuNTMzMzMzIDBWNjguMjY2NjY3YTY4LjI2NjY2NyA2OC4yNjY2NjcgMCAwIDAtNjguMjY2NjY3LTY4LjI2NjY2N3oiIGZpbGw9IiMxYWJjOWMiIHAtaWQ9IjE0ODIxIj48L3BhdGg+PC9zdmc+);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0.1875rem 0 0.25rem;
}

.typo a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: #1abc9c;
    transform: translateX(50%);
    right: 50%;
    transition: width .25s ease-in-out;
}

.typo a:hover::before {
    width: 100%;
}

.typo ins, .typo a {
    text-decoration: none;
}

.typo u {
    text-decoration: underline;
}

.typo mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px;
}

.typo p code, .typo ul code, .typo ol code {
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #ddd;
    color: #e4305e;
    background: #fdf2f5;
    border-radius: 3px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.typo hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0.8em;
    height: 10px;
}

.typo small,
.typo figcaption {
    font-size: 0.9em;
    color: #888;
}

.typo strong, .typo b {
    font-weight: bold;
}

.typo [draggable] {
    cursor: move;
}

.typo .clearfix:before, .typo .clearfix:after {
    content: "";
    display: table;
}

.typo .clearfix:after {
    clear: both;
}

.typo .clearfix {
    zoom: 1;
}

.typo .textwrap, .typo .textwrap td, .typo .textwrap th {
    word-wrap: break-word;
    word-break: break-all;
}

.typo .textwrap-table {
    table-layout: fixed;
}

.typo .serif {
    font-family: 'Merriweather', 'Noto Serif', Georgia, serif;
}

.typo pre {
    font-size: 14px;
    border-radius: 8px;
    padding: 1.25rem 1.5rem;
}

/* Đảm bảo có ngắt dòng giữa các khối/đoạn văn */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl,
.typo form, .typo hr, .typo table, blockquote {
    margin-bottom: 1.2em;
}

/* Tiêu đề nên nằm gần nội dung hơn và được phân biệt rõ
ràng với các khối khác; giá trị lề nên được tối ưu hóa cho phù hợp. */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.typo h1 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .3em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.typo h2 {
    font-size: 1.5em;
    padding-bottom: .3em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.typo h3 {
    font-size: 1.25em;
    padding-bottom: .3em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.typo h4 {
    font-size: 1em;
}

.typo h5 {
    font-size: .875em;
}

.typo h6 {
    font-size: .85em;
    color: #57606a;
}

/* Cần khôi phục lại kiểu dáng của thẻ ul và ol trong bài viết. */
.typo ul {
    list-style: disc;
    font-size: 15px;
    line-height: 1.8;
    padding-left: 1.5em;
}

.typo ol {
    list-style: decimal;
    font-size: 15px;
    line-height: 1.8;
    padding-left: 1.5em;
}

.typo li ul, .typo li ol {
    margin-bottom: 0.8em;
}

.typo li ul {
    list-style: circle;
}

.typo table th, .typo table td, .typo table caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
}

.typo table th {
    background: #fbfbfb;
}

.typo table thead th {
    background: #f1f1f1;
}

.typo table caption {
    border-bottom: none;
}

.typo em, legend, caption {
    font-weight: inherit;
}

/**
    Để tùy chỉnh kích thước hình ảnh:
    ![pic.jpg](https://yourimgurl.com/pic.jpg#w50)
*/
.typo img[src*="#w90"] {
    width: 90%;
}

.typo img[src*="#w80"] {
    width: 80%;
}

.typo img[src*="#w70"] {
    width: 70%;
}

.typo img[src*="#w60"] {
    width: 60%;
}

.typo img[src*="#w50"] {
    width: 50%;
}

.typo img[src*="#w40"] {
    width: 40%;
}

.typo img[src*="#w30"] {
    width: 30%;
}

.typo img[src*="#w20"] {
    width: 20%;
}

.typo img[src*="#w10"] {
    width: 10%;
}